
@{
    ViewData["Title"] = "Unauthorized Access";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content-i">
    <div class="content-box">
        <div class="big-error-w">
            <h1>Oops!</h1>
            <h5>Unauthorized Access</h5>
            <small>Oops, It seems that admin of your organization has not provided you access to perform this operation.</small>
        </div>
    </div>
</div>
